/* You may need to adjust the colors and sizing as per your design */
.videoPlayerContainer {
    max-width: 400px;
    @apply w-full;
  }
  
  .videoPlayer {
    width: 100%;
    height: 300px;
    @apply bg-slate-200 rounded-lg shadow-md overflow-hidden;
  }
  
  .questionsContainer {
    width:500;
    height:auto;
    max-width: 500px;
    @apply w-full ml-16 md:w-3/5;
  }
  .hero{
  background: linear-gradient(113deg,rgba(255, 255, 255, 0.3) 50%,rgb(109 40 217) 50%);
  width: 100vw;
   height: 100vh;
 @apply flex flex-col md:flex-row items-center justify-center gap-16;
  }
  @media (max-width: 767px) {
    .hero {
      @apply ml-6;
      background: none; /* Remove the gradient background on small screens */
    }
  }